body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background: white;
  padding: 12px;
  font-size: 20px;
}

.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}